@keyframes bigToSmall {
  from {
    transform: scale(100%);
    opacity: 1;
  }
  to {
    transform: scale(0%);
    opacity: 0;
  }
}

.beauty {
  position: relative;
}

.beauty:after {
  content: "💖";
  font-size: smaller;
  transform: scale(100%);
  transform-origin: center;
  animation: bigToSmall 2000ms infinite ease-in-out;
}
