/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: calc(100vh - 60px);
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #1d1c2f;
  color: white;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .world {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    background-color: #5a9cf2;
    border-radius: 50%;
    overflow: hidden;
  }

  .africa {
    position: absolute;
    left: 40%;
    top: 50%;
    width: fit-content;
    height: fit-content;
  }

  .africa1 {
    position: absolute;
    display: block;
    width: 80px;
    height: 60px;
    background-color: #caee66;
    border-radius: 20px;
  }

  .africa1:before {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 60px;
    right: 10%;
    top: 50%;
    background-color: #caee66;
    border-radius: 20px;
  }
}
